.env
*.pyc
PyOpticL/stl/Room Temp Chamber Mechanical.stl
PyOpticL/stl/Room_temp_chamber_step.stl
PyOpticL/stl/MT3A_translation_stage.stl
PyOpticL/stl/room temperature chamber with chip.stl
macros/
PyOpticL/redstone/*.stl
PyOpticL/redstone/*.step
PyOpticL/redstone/*.FCStd
*.mp4
*.png
