.env
.venv
*.pyc
PyOpticL/stl/Room Temp Chamber Mechanical.stl
PyOpticL/stl/Room_temp_chamber_step.stl
macros/
redstone/*.stl
redstone/*.step
redstone/*.FCStd
examples/*
baseplate_design_K/*
redstone/stl_workflow/*.stl
redstone/stl_workflow/*.step
redstone/stl_workflow/*.FCStd
redstone/stl_workflow/*.FCBak
